# Byte-compiled / optimized / DLL files
__pycache__/

glove/*.*
glove/*/*.*

data/*.*
data/*/*.*

plots/*.*
plots/*/*.*

pickled_data/*.*
pickled_data/*/*.*

w2v_models/*.*
w2v_models/*/*.*

balanced_dataset/*.*
balanced_dataset/*/*.*

!*/.gitkeep

test.*
